// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.dashboard {
  padding: 40px;
  min-height: 600px;
}

.admin-chats {
  margin-top: -50px;
}

.admin_button {
  margin-top: 0px;
}

.resolve_button {
  margin-top: -30px;
  position: relative;
}

.support-chat-sidebar{
  margin-top: -50px;
  width: 20%;
  height: 651px;
  padding: 2px;
}

.support-chat-window{
  float: left;
  height: 325px;
  margin: 10px;
  margin-bottom: 0px;
  width: 30%;
}

#active-chats-list, #waiting-chats-list {
  list-style-type:none;
}

.chat_box{
  list-style-type:none;
}

.admin_chat_box{
  height: 300px;
  width: 270px;
  list-style-type:none;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.admin_chat_content{
  height: 150px;
  overflow: auto;
  padding: 0px;
}

.resolve-chat{
  padding-top: 20px;
  text-align: right;
}

#chat-input, form#new_message {
  margin-bottom: 30px;
}

// SIDEBAR

.chats {
  height: 235px;
  overflow: auto;
}