<li>
  <%= 
      link_to "Chat with #{waiting_chat.customer.name}",
      admin_chat_path(waiting_chat),
      remote: true,
      method: :get,
      :'data-chat'=> waiting_chat.id,
      class: 'support-chat-link waiting'
  %>
</li>
