<div class='content'>
  <h1>Chat List</h1>

  <div>
    <h3># of Customers Waiting: <%= @chats.count %></h3>
  </div>

  <div>
    <% @chats.each do |chat| %>
      <%= link_to "Open Chat ##{chat.id}", admin_chat_path(chat) %>
      <br>
    <% end %>
  <div>
</div>
