RuntimeError at /demo/1
=======================

> Called id for nil, which would mistakenly be 8 -- if you really wanted the id of nil, use object_id

app/views/chats/show.html.erb, line 12
--------------------------------------

``` ruby
    7     </ul>
    8   
    9     <div id='chat-input'>
   10       <%= form_for Message.new, :remote => true do |f| %>
   11         <%= f.text_field :content %>
>  12         <%= f.hidden_field :conversation_id, value: @conversation.id %>
   13         <%= f.submit "Send", class: "btn" %>
   14       <% end %>
   15     </div>
   16   </div>
```

App backtrace
-------------

 - app/views/chats/show.html.erb:12:in `block in _app_views_chats_show_html_erb__1349826732879037028_70297342085980'
 - app/views/chats/show.html.erb:10:in `_app_views_chats_show_html_erb__1349826732879037028_70297342085980'
 - spec/features/visitor_chats_spec.rb:6:in `block (2 levels) in <top (required)>'

Full backtrace
--------------

 - activesupport (3.2.13) lib/active_support/whiny_nil.rb:22:in `id'
 - app/views/chats/show.html.erb:12:in `block in _app_views_chats_show_html_erb__1349826732879037028_70297342085980'
 - actionpack (3.2.13) lib/action_view/helpers/capture_helper.rb:40:in `block in capture'
 - actionpack (3.2.13) lib/action_view/helpers/capture_helper.rb:187:in `with_output_buffer'
 - actionpack (3.2.13) lib/action_view/helpers/capture_helper.rb:40:in `capture'
 - actionpack (3.2.13) lib/action_view/helpers/form_helper.rb:378:in `form_for'
 - app/views/chats/show.html.erb:10:in `_app_views_chats_show_html_erb__1349826732879037028_70297342085980'
 - actionpack (3.2.13) lib/action_view/template.rb:145:in `block in render'
 - activesupport (3.2.13) lib/active_support/notifications.rb:125:in `instrument'
 - actionpack (3.2.13) lib/action_view/template.rb:143:in `render'
 - actionpack (3.2.13) lib/action_view/renderer/template_renderer.rb:47:in `block (2 levels) in render_template'
 - actionpack (3.2.13) lib/action_view/renderer/abstract_renderer.rb:38:in `block in instrument'
 - activesupport (3.2.13) lib/active_support/notifications.rb:125:in `instrument'
 - actionpack (3.2.13) lib/action_view/renderer/abstract_renderer.rb:38:in `instrument'
 - actionpack (3.2.13) lib/action_view/renderer/template_renderer.rb:46:in `block in render_template'
 - actionpack (3.2.13) lib/action_view/renderer/template_renderer.rb:54:in `render_with_layout'
 - actionpack (3.2.13) lib/action_view/renderer/template_renderer.rb:45:in `render_template'
 - actionpack (3.2.13) lib/action_view/renderer/template_renderer.rb:18:in `render'
 - actionpack (3.2.13) lib/action_view/renderer/renderer.rb:36:in `render_template'
 - actionpack (3.2.13) lib/action_view/renderer/renderer.rb:17:in `render'
 - actionpack (3.2.13) lib/abstract_controller/rendering.rb:110:in `_render_template'
 - actionpack (3.2.13) lib/action_controller/metal/streaming.rb:225:in `_render_template'
 - actionpack (3.2.13) lib/abstract_controller/rendering.rb:103:in `render_to_body'
 - actionpack (3.2.13) lib/action_controller/metal/renderers.rb:28:in `render_to_body'
 - actionpack (3.2.13) lib/action_controller/metal/compatibility.rb:50:in `render_to_body'
 - actionpack (3.2.13) lib/abstract_controller/rendering.rb:88:in `render'
 - actionpack (3.2.13) lib/action_controller/metal/rendering.rb:16:in `render'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:40:in `block (2 levels) in render'
 - activesupport (3.2.13) lib/active_support/core_ext/benchmark.rb:5:in `block in ms'
 - /Users/steady/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/benchmark.rb:296:in `realtime'
 - activesupport (3.2.13) lib/active_support/core_ext/benchmark.rb:5:in `ms'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:40:in `block in render'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:83:in `cleanup_view_runtime'
 - activerecord (3.2.13) lib/active_record/railties/controller_runtime.rb:24:in `cleanup_view_runtime'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:39:in `render'
 - actionpack (3.2.13) lib/action_controller/metal/implicit_render.rb:10:in `default_render'
 - actionpack (3.2.13) lib/action_controller/metal/implicit_render.rb:5:in `send_action'
 - actionpack (3.2.13) lib/abstract_controller/base.rb:167:in `process_action'
 - actionpack (3.2.13) lib/action_controller/metal/rendering.rb:10:in `process_action'
 - actionpack (3.2.13) lib/abstract_controller/callbacks.rb:18:in `block in process_action'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:414:in `_run__1079073676837152370__process_action__1593695413204999927__callbacks'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:405:in `__run_callback'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:385:in `_run_process_action_callbacks'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:81:in `run_callbacks'
 - actionpack (3.2.13) lib/abstract_controller/callbacks.rb:17:in `process_action'
 - actionpack (3.2.13) lib/action_controller/metal/rescue.rb:29:in `process_action'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:30:in `block in process_action'
 - activesupport (3.2.13) lib/active_support/notifications.rb:123:in `block in instrument'
 - activesupport (3.2.13) lib/active_support/notifications/instrumenter.rb:20:in `instrument'
 - activesupport (3.2.13) lib/active_support/notifications.rb:123:in `instrument'
 - actionpack (3.2.13) lib/action_controller/metal/instrumentation.rb:29:in `process_action'
 - actionpack (3.2.13) lib/action_controller/metal/params_wrapper.rb:207:in `process_action'
 - activerecord (3.2.13) lib/active_record/railties/controller_runtime.rb:18:in `process_action'
 - actionpack (3.2.13) lib/abstract_controller/base.rb:121:in `process'
 - actionpack (3.2.13) lib/abstract_controller/rendering.rb:45:in `process'
 - actionpack (3.2.13) lib/action_controller/metal.rb:203:in `dispatch'
 - actionpack (3.2.13) lib/action_controller/metal/rack_delegation.rb:14:in `dispatch'
 - actionpack (3.2.13) lib/action_controller/metal.rb:246:in `block in action'
 - actionpack (3.2.13) lib/action_dispatch/routing/route_set.rb:73:in `dispatch'
 - actionpack (3.2.13) lib/action_dispatch/routing/route_set.rb:36:in `call'
 - journey (1.0.4) lib/journey/router.rb:68:in `block in call'
 - journey (1.0.4) lib/journey/router.rb:56:in `call'
 - actionpack (3.2.13) lib/action_dispatch/routing/route_set.rb:612:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
 - rack (1.4.5) lib/rack/etag.rb:23:in `call'
 - rack (1.4.5) lib/rack/conditionalget.rb:25:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/head.rb:14:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/params_parser.rb:21:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/flash.rb:242:in `call'
 - rack (1.4.5) lib/rack/session/abstract/id.rb:210:in `context'
 - rack (1.4.5) lib/rack/session/abstract/id.rb:205:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/cookies.rb:341:in `call'
 - activerecord (3.2.13) lib/active_record/query_cache.rb:64:in `call'
 - activerecord (3.2.13) lib/active_record/connection_adapters/abstract/connection_pool.rb:479:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:405:in `_run__3933871192284744311__call__2207166492590342983__callbacks'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:405:in `__run_callback'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
 - activesupport (3.2.13) lib/active_support/callbacks.rb:81:in `run_callbacks'
 - actionpack (3.2.13) lib/action_dispatch/middleware/callbacks.rb:27:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
 - better_errors (0.9.0) lib/better_errors/middleware.rb:84:in `protected_app_call'
 - better_errors (0.9.0) lib/better_errors/middleware.rb:79:in `better_errors_call'
 - better_errors (0.9.0) lib/better_errors/middleware.rb:56:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
 - railties (3.2.13) lib/rails/rack/logger.rb:32:in `call_app'
 - railties (3.2.13) lib/rails/rack/logger.rb:16:in `block in call'
 - activesupport (3.2.13) lib/active_support/tagged_logging.rb:22:in `tagged'
 - railties (3.2.13) lib/rails/rack/logger.rb:16:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/request_id.rb:22:in `call'
 - rack (1.4.5) lib/rack/methodoverride.rb:21:in `call'
 - rack (1.4.5) lib/rack/runtime.rb:17:in `call'
 - activesupport (3.2.13) lib/active_support/cache/strategy/local_cache.rb:72:in `call'
 - rack (1.4.5) lib/rack/lock.rb:15:in `call'
 - actionpack (3.2.13) lib/action_dispatch/middleware/static.rb:63:in `call'
 - railties (3.2.13) lib/rails/engine.rb:479:in `call'
 - railties (3.2.13) lib/rails/application.rb:223:in `call'
 - rack (1.4.5) lib/rack/builder.rb:134:in `call'
 - rack (1.4.5) lib/rack/urlmap.rb:64:in `block in call'
 - rack (1.4.5) lib/rack/urlmap.rb:49:in `call'
 - rack-test (0.6.2) lib/rack/mock_session.rb:30:in `request'
 - rack-test (0.6.2) lib/rack/test.rb:230:in `process_request'
 - rack-test (0.6.2) lib/rack/test.rb:57:in `get'
 - /Users/steady/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/forwardable.rb:171:in `get'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:59:in `process'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:38:in `block in process_and_follow_redirects'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:37:in `process_and_follow_redirects'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:26:in `submit'
 - capybara (2.1.0) lib/capybara/rack_test/form.rb:71:in `submit'
 - capybara (2.1.0) lib/capybara/rack_test/node.rb:55:in `click'
 - capybara (2.1.0) lib/capybara/node/element.rb:118:in `block in click'
 - capybara (2.1.0) lib/capybara/node/base.rb:81:in `synchronize'
 - capybara (2.1.0) lib/capybara/node/element.rb:118:in `click'
 - capybara (2.1.0) lib/capybara/node/actions.rb:37:in `click_button'
 - capybara (2.1.0) lib/capybara/session.rb:354:in `block (2 levels) in <class:Session>'
 - capybara (2.1.0) lib/capybara/dsl.rb:51:in `block (2 levels) in <module:DSL>'
 - spec/features/visitor_chats_spec.rb:6:in `block (2 levels) in <top (required)>'
 - rspec-core (2.13.1) lib/rspec/core/example.rb:114:in `block in run'
 - rspec-core (2.13.1) lib/rspec/core/example.rb:254:in `with_around_each_hooks'
 - rspec-core (2.13.1) lib/rspec/core/example.rb:111:in `run'
 - rspec-core (2.13.1) lib/rspec/core/example_group.rb:390:in `block in run_examples'
 - rspec-core (2.13.1) lib/rspec/core/example_group.rb:386:in `run_examples'
 - rspec-core (2.13.1) lib/rspec/core/example_group.rb:371:in `run'
 - rspec-core (2.13.1) lib/rspec/core/command_line.rb:28:in `block (2 levels) in run'
 - rspec-core (2.13.1) lib/rspec/core/command_line.rb:28:in `block in run'
 - rspec-core (2.13.1) lib/rspec/core/reporter.rb:34:in `report'
 - rspec-core (2.13.1) lib/rspec/core/command_line.rb:25:in `run'
 - rspec-core (2.13.1) lib/rspec/core/runner.rb:80:in `run'
 - rspec-core (2.13.1) lib/rspec/core/runner.rb:17:in `block in autorun'

