<li>
  <%=
      link_to "Chat with #{active_chat.id}",
      admin_chat_path(active_chat),
      id: "active_chat_links_#{active_chat.id}",
      remote: true,
      method: :get,
      :'data-chat'=> active_chat.id,
      class: 'support-chat-link active'
  %>
</li>