<div class='content'>
  <div class='support-chat-sidebar pull-left'>
    <h1>Chat List</h1>

    <div id='active-chats'>
      <% if @active_chats.count == 0 %>
        <h4>No Active Chats.</h4>
      <% else %>
        <h4>You Are Working With:</h4>
      <% end %>
        <ul id='active-chats-list'>
          <%= render partial: '/admin/chats/active_chat', collection: @active_chats %>
        </ul>
    </div>

    <hr>

    <div id='waiting-chats'>
      <% if @waiting_chats.count == 0 %>
        <h4>No one needs help at the moment.</h4>
      <% else %>
        <h4># of Customers Waiting: <%= @waiting_chats.count %></h4>
      <% end %>
        <ul id='waiting-chats-list'>
          <%= render partial: '/admin/chats/waiting_chat', collection: @waiting_chats %>
        </ul>
    </div>
  </div>

  <div class="admin-chats pull-right">
    <% 3.times do |x| %>
      <div id='empty' class="support-chat-window"></div>
    <% end %>
    <br><br>
    <% 3.times do |x| %>
      <div id='empty' class="support-chat-window"></div>
    <% end %>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    var active_chats = [];
    <% @active_chats.each do |chat| %>
      active_chats.push("<%= chat.id %>");
    <% end %>

    $.each(active_chats, function(index, value){
      $("#active_chat_links_"+value).trigger('click');
    });

      $.getJSON('/messages.json', function(data) {
        $.each(data, function(key, val) {
          var name_and_time = "<li>" + "name here" + "</li>";
          var message = '<li>' + val["content"] + '</li>';
          $("#chat" + val["chat_id"]).append(message);
        });

        console.log(data);
      });
      // Ajax get json
      // shove json on chat window somehow

    $(".admin-chats").on('click', ".resolve_issue", function(){
      var chat_id = $(this).attr("id");
      $("#inner_chatbox_"+chat_id).remove();
      $("#active_chat_links_"+chat_id).remove();
      $("#waiting_chat_links_"+chat_id).remove();
      $("#outer_chatbox_"+chat_id).attr("id", "empty");
      $.ajax({
        url: '/admin/chats/'+chat_id,
        type: 'PUT',
        success: function(data) {
        }
      });
    });

    $("#waiting-chats").on('click', ".waiting", function(){
      var waiting_chat_id = $(this).attr("id");
      $("#waiting_chat_links_"+waiting_chat_id)
    });
  });
</script>





