var chat_id = "<%= params['id'] %>";

var getChatMessages = function(chat_id){
  var url = '/messages.json?chat_id=' + chat_id;
  $.getJSON(url, function(data) {
    $.each(data, function(key, val) {
      // console.log(val)
      var name_and_time = "<li><span id='customer-chat-author'>" + val["name"] + "</span> <span id='customer-chat-time'>" + val["created_at"] + "</span></li>";
      var message = '<li>' + val["content"] + '</li>';
      $("#chat" + val["chat_id"]).append(name_and_time).append(message);
    });

    // console.log(data);
  });
}

function unplaced(){
  var size = $("#" + chat_id).size();
  if (size === 1){
    return false;
  } else {
    return true;
  }
}

$(".support-chat-window").each(function(i, obj){
  if ($(this).attr('id') === 'empty' && unplaced()) {
    $(this).html("<%= escape_javascript(render :partial => '/admin/chats/chat', :id=> 'data-chat' ) %>");
    $(this).attr({'id': "<%= params['id'] %>"});
  } else {
  }
});


getChatMessages(chat_id);
